---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <!-- Home Page -->
    <url>
        <loc>https://www.messyvirgo.com/</loc>
        <lastmod>2025-11-30</lastmod>
        <changefreq>weekly</changefreq>
        <priority>1.0</priority>
    </url>

    <!-- Token -->
    <url>
        <loc>https://www.messyvirgo.com/messy-virgo-coin.html</loc>
        <lastmod>2025-12-19</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.95</priority>
    </url>
    
    <!-- Litepaper -->
    <url>
        <loc>https://www.messyvirgo.com/litepaper.html</loc>
        <lastmod>2025-11-25</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.9</priority>
    </url>

    <!-- dApps: Crypto Token Technical Analysis -->
    <url>
        <loc>https://www.messyvirgo.com/crypto-token-technical-analysis.html</loc>
        <lastmod>2025-12-23</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.85</priority>
    </url>
    
    <!-- dApps: Crypto Macro Economics Report -->
    <url>
        <loc>https://www.messyvirgo.com/crypto-macro-economics-report.html</loc>
        <lastmod>2025-12-23</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.85</priority>
    </url>
    
    <!-- Founders -->
    <url>
        <loc>https://www.messyvirgo.com/founder-profiles.html</loc>
        <lastmod>2025-11-25</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.85</priority>
    </url>
    
    <!-- Build Log -->
    <url>
        <loc>https://www.messyvirgo.com/buildlog.html</loc>
        <lastmod>2026-01-04</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.8</priority>
    </url>
    
    <!-- Treasury -->
    <url>
        <loc>https://www.messyvirgo.com/treasury.html</loc>
        <lastmod>2025-12-10</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.8</priority>
    </url>
    
    <!-- Blog Index -->
    <url>
        <loc>https://www.messyvirgo.com/blog/</loc>
        <lastmod>2025-11-30</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.9</priority>
    </url>
    
    <!-- Blog Posts -->
    {% for post in collections.blog %}
    <url>
        <loc>https://www.messyvirgo.com{{ post.url }}</loc>
        <lastmod>{{ post.date | htmlDateString }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.8</priority>
    </url>
    {% endfor %}
</urlset>

