---
permalink: /blog/2026/05/messy-fund-update-week-of-2026-05-22/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/updates/2026/05/messy-fund-update-week-of-2026-05-22/">
  <meta name="robots" content="noindex, follow">
  <link rel="canonical" href="https://www.messyvirgo.com/updates/2026/05/messy-fund-update-week-of-2026-05-22/">
  <script>
    window.location.replace("/updates/2026/05/messy-fund-update-week-of-2026-05-22/");
  </script>
  <title>Redirecting...</title>
</head>
<body>
  <p>Redirecting to <a href="/updates/2026/05/messy-fund-update-week-of-2026-05-22/">/updates/2026/05/messy-fund-update-week-of-2026-05-22/</a>.</p>
</body>
</html>
